<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form action="">
        <div>
            <label for="email">Email: </label>
            <input type="email" name="" id="email" class="email">
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" name="" id="password" class="password">
        </div>
        <button>Submit</button>
    </form>
</body>
</html>

<script type="">

    let usersData = [
    { "userId": "u01", "userName": "LeDat", "password": "1607", "email": "dat16072004@gmail.com", "role": "admin" },
    { "userId": "u02", "userName": "GiaPhuc", "password": "0000", "email": "phuc@gmail.com" },
    { "userId": "u03", "userName": "MeoCon", "password": "1111", "email": "meocon@gmail.com" },
    ]


    localStorage.setItem("listUser", JSON.stringify(usersData));
    

</script>